* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: mediumpurple;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 20px;
    font-size: 5rem;
}

h2 {
    margin: 20px;
    font-size: 4.5rem;
}

p {
    margin: 20px;
    font-size: 2.5rem;
}

button {
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}