#tablero {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.celda {
  width: 100px;
  height: 100px;
  background-size: 400px 400px; /* mismo tamaño que #tablero */
  background-repeat: no-repeat;
}

.vacio {
  background: white;
}
